
.member-search-wrapper {

    .wrapper {
        --search-border-radius: 92px;
        --search-height: 46px;
        --search-top-space: 9px;
        --search-button-width: 52px;
        padding: 20px;

        .search-width {
            width: 100%;
        }
    }
}